{% ckan_extends %}


{% block content_action %}
{{ super() }}
{% block translate_item_explore %}

{% block translation_status_modal %}

{% resource 'ckanext-multilingual_datastore/check_status.js' %}
{% endblock %}

 {% if res.datastore_active %}
    {% if h.check_access('package_update', {'id':pkg.id }) and not translation_resource %}
  <div class="dropdown btn-group">
    <a href="#" class="btn btn-primary dropdown-toggle"  data-toggle="dropdown">
      <i class="icon-flag-alt"></i>
      {{ _('Translate') }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    {% block translate_item_explore_links %}
    {% for locale in h.get_available_locales() %}
        {% if not locale == h.get_orig_language(res) %}
        <li>
        <a data-module="check_status" data-module-language="{{ locale.english_name}}" data-module-status="{{ h.get_language_translation_status(res, locale)}}" href="{{ h.url_for(controller='ckanext.multilingual_datastore.controllers.resource:ResourceController', action='resource_translate', resource_id=res.id, id=pkg.name, language=locale) }}">{{ h.get_orig_language(res).display_name }} -> {{ locale.display_name }}</a>
        </li>
        {% endif %}
      {% endfor %}
      {% endblock %}
    </ul>
  </div>
  {% endif %}
  {% endif %}
  {% endblock %}

  {% endblock %}

  
