html{
    overflow-y: hidden;
}
body {
  background-color: #fff;
}

.recline-data-explorer{
  position: relative;
  overflow: auto;
}

.loading-dialog {
  width: 120px;
}

.recline-slickgrid {
  height: 600px;
}

.recline-timeline .vmm-timeline {
  height: 600px;
}

.loading-spinner {
  float: right;
  background-image: url('../img/ajaxload-circle.gif');
  width: 32px;
  height: 32px;
}
.slick-contextmenu input{
    margin: 2px 5px 0 5px;
}
.divDemoBody  {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
   
.divDemoBody p {
    font-size: 18px;
    line-height: 140%;
    padding-top: 12px;
}

.divDialogElements input {
    font-size: 18px;
    padding: 3px; 
    height: 32px; 
    width: 500px; 
}

.divButton {
    padding-top: 12px;
}

.btn{
    background-image: none;
    border-radius:0;
    box-shadow: none;
}

.btn-group .btn:last-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group .btn:first-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.header .recline-pager .pagination .active a{
}
.header .recline-pager .pagination input{
    border-radius: 0;
    padding: 3px;
    margin-top: -2px;
}
.pagination li:last-child a{
    border-radius: 0;
}

.pagination li:first-child a{
    border-radius: 0;
}
.header .add-on{
    border-radius: 0;
}
.modal{
    border-radius: 0;
}

/* Columns */

.recline-slickgrid .slick-header-columns .slick-header-column{
    background: '#666';
    background-image: none;
}

.column-default{
    //background-color: #fff;
}
.column-no-translate{
    background-color: #e2576b !important;
}
.column-manual{
    background-color: #7ccb66 !important;
}
.column-automatic{
    background-color: #e9e580 !important;
}
.column-transcription{
    background-color: #6691d8 !important;
}
