{% set languages = h.get_resource_languages(res)%}

    <p class="languages">
    <ul class="dataset-resources unstyled">
    {% if languages %}
        {% for lang in languages %}
        <li>
          <a class="label"
              href="
               {{ h.url_for(controller='package', action='resource_read', id=pkg.name, resource_id=res.id, locale=lang) }} 
              "
            data-format="{{ lang }}"
           >{{ lang|upper }}</a>
        </li>
        {% endfor %}
        {% endif %}
      </ul>

    </p>

